<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>Nahkaluola</title>
        <meta charset="utf-8" />
        <style>
            .laatikko { 
                float: left;
                width: 150px;
                margin: 15px;
            }
            li {
                clear: left;
                max-height: 5px;
            }
            p {
                margin-left: 40px;
            }
        </style>
    </head>

    <body>
        <h1>Kaikki Aiheet!</h1>
        <p> <span class="laatikko">Aihe</span> <span class="laatikko" th:text="'Viestien määrä'">Viestien määrä</span> <span class="laatikko" >Viimeisin viesti</span></p>
        <ul style="list-style-type:none">
            <li th:each="aihe: ${aiheet}">
                <a class='laatikko' th:href="${'/aihe/' + aihe.id}"> <span th:text="${aihe.otsikko}"></span> </a> <span class='laatikko' th:text="${aihe.viestiMaara}">viestien määrä</span> <span class='laatikko' th:text="${aihe.paivays}">viestin päivämäärä</span>
            </li>
        </ul>
        <br/>
        <br/>
        <br/>
        <form method="post">
            Otsikko: <input type="text" style="margin-left: 30px;" name="aiheOtsikko" />
            <br/>
            <textarea rows="10" style="margin-top: 10px; margin-bottom: 10px; margin-left: 90px;" name="viestiTeksti"></textarea>
            <br/>
            Nimimerkki: <input type="text" name="viestiNimimerkki" />
            <button type="submit">Lähetä</button>
        </form>
    </body>
</html>