<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>NahkaLuola</title>
        <meta charset="utf-8" />
        <style>
            .laatikko { 
                float: left;
                width: 150px;
                margin: 15px;
            }
            li {
                clear: left;
                max-height: 5px;
            }
            p {
                margin-left: 40px;
            }
        </style>
        <script>
            function validate() {
                var x = document.forms["lomake"]["viestiTeksti"].value;
                if (x == "") {
                    alert("Viesti ei voi olla tyhjä");
                    return false;
                }
            }
        </script>
    </head>

    <body>
        <h1><span>NahkaKeskustelu!</span></h1>

        <p> <b><span class="laatikko">NahkaViesti</span> <span class="laatikko" th:text="'Nahkamies'">NahkaViesti</span> <span class="laatikko" >P&#228;iv&#228;m&#228;&#228;r&#228;</span></b></p>

        <ul style="list-style-type:none">
            <li th:each="viesti: ${viestit}">
                <span class='laatikko' th:text="${viesti.teksti}">viestin sisältö</span> <span class='laatikko' th:text="'t. ' + ${viesti.nimimerkki}">viestin kirjoittaja</span> <span class='laatikko' th:text="${viesti.paivays}">viestin päivämäärä</span>
            </li>
        </ul>
        <br/>
        <br/>
        <form name="lomake" method="post" onsubmit="return validate()">
            <textarea rows="10" style="margin-top: 10px; margin-bottom: 10px; margin-left: 90px;" name="viestiTeksti"></textarea>
            <br/>
            Nahkamies: <input type="text" name="viestiNimimerkki" />
            <button type="submit">Lähetä</button>
        </form>
    </body>
</html>
